:root {
  --blanco: #FFFFFF;
  --oscuro: #212121;
  --primario: #FFC107;
  --secundario: #0097A7;
  --gris: #757575;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /*1rem = 10px*/
  font-family: 'Krub', sans-serif;
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
}

h1.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 120rem;
  margin: 0 auto;
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  display: flex;
  justify-content: space-between;
}

.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}